<div class="footer">
    <div class="row">
        <div class="col-3">
            <div class="footer-title">
                Hỗ trợ khách hàng
            </div>
            <div class="footer__content">
                <p>
                  HotLine: <strong><a href="tel:+15555551212">555-555-1212</a></strong>
                </p>
                <p>
                  Liên hệ đặt hàng 
                </p>
                <p>
                  Báo cáo hỗ trợ 
                </p>
                <p>
                  Góp ý của khách hàng 
                </p>
                <div class="row">
                    <div class="col-3">
                        <img src="../../../assets/img/card1.png" class="pay-method" alt="pay-method"/>
                    </div>
                    <div class="col-3">
                        <img src="../../../assets/img/card2.png" class="pay-method" alt="pay-method"/>
                    </div>
                    <div class="col-3">
                        <img src="../../../assets/img/card3.png" class="pay-method" alt="pay-method"/>
                    </div>
                    <div class="col-3">
                        <img src="../../../assets/img/card4.png" class="pay-method" alt="pay-method"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="footer-title">
                Về cửa hàng
            </div>
            <div class="footer__content">
                <p>
                  Giới thiệu
                </p>
                <p>
                  Liên hệ
                </p>
                <p>
                  Tuyển dụng
                </p>
                <p>
                  Tin tức
                </p>
                <p>
                 Hệ thống cửa hàng
                </p>
            </div>
        </div>
        <div class="col-3">

            <div class="footer-title">
                Chăm sóc khách hàng
            </div>
            <div class="footer__content">
                <p>
                  Chính sách đổi trả
                </p>
                <p>
                    Chính sách bảo hàng
                </p>
                <p>
                    Chính sách thanh toán
                </p>
            </div>
        </div>
        <div class="col-3">
            <div className="footer__about">
                <p>
                    <img routerLink="/" src="../../../assets/img/logo.png" class="footer-logo" alt="footer__logo"/>
                </p>
                <p className="footer-aboutus">
                  Hướng tới niềm vui mua sắm trực tuyến mới mỗi ngày cho hàng triệu người tiêu dùng Việt Nam. Hãy cùng Vu Kie 
                  hướng tới một cuộc sống năng động tích cực hơn trong thời đại công nghệ số.
                </p>
              </div>
        </div>
    </div>
</div>
