.contact {
    padding: 30px;
}
.contact-title {
    font-size:26px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color:#FFCE00;
}
.contact-title-name { 
    color:#FFCE00;
}
.contact-title-info {
    line-height: 24px;
    margin-bottom: 5px;
}
.input-contact {
    width: 100%;
    margin-bottom: 10px;
}
.submit-form-contact {
    display: inline-block;
    padding:7px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
    color: white;
    width: 50%;
    font-weight:600;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    font-size: 1.2rem;
    margin-top: 15px;
    text-align:center;
    border: none;
}
.submit-form-contact:hover {
    background-position: 100% 0%;
    cursor: pointer;
}