<div class="contact">
  <h1 class="contact-title">Liên hệ</h1>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <h1 class="contact-title-name">VuKieFruits</h1>
      <p class="contact-title-info">HotLine: <strong>0866077088</strong></p>
      <p class="contact-title-info">Email: vukiestore@gmail.com</p>
      <p class="contact-title-info">
        Address: Công ty cổ phần Thời trang VUKIE <br />Phòng 301 Tòa nhà VuKie,
        170 La Thành, Q. Đống Đa, Hà Nội
      </p>
      <p class="contact-title-info">Website: www.vukie.com</p>
      <p class="contact-title-info">
        Liên hệ đặt hàng: <a href="tel:+0125485698">0125485698</a>
      </p>
      <div class="row">
        <form>
          <div class="col-2 col-sm-4" style="padding-left: 0">
            <span><b>Họ và tên</b></span>
          </div>
          <div class="col-10 col-sm-8" style="padding-left: 0">
            <input
              type="name"
              name="name"
              placeholder="Nhập họ và tên"
              class="input-contact"
            /><br />
          </div>
          <div class="col-2 col-sm-4" style="padding-left: 0">
            <span><b>Địa chỉ</b></span>
          </div>
          <div class="col-10 col-sm-8" style="padding-left: 0">
            <input
              type="name"
              name="name"
              placeholder="Nhập địa chỉ"
              class="input-contact"
            /><br />
          </div>
          <div class="col-2 col-sm-4" style="padding-left: 0">
            <span><b>Điện thoại</b></span>
          </div>
          <div class="col-10 col-sm-8" style="padding-left: 0">
            <input
              type="name"
              name="name"
              placeholder="Nhập số điện thoại"
              class="input-contact"
            /><br />
          </div>
          <div class="col-2 col-sm-4" style="padding-left: 0">
            <span><b>Nội dung</b></span>
          </div>
          <div class="col-10 col-sm-8" style="padding-left: 0">
            <textarea
              class="contact-report"
              placeholder="Nhập nội dung"
              class="input-contact"
            ></textarea>
          </div>
          <input class="submit-form-contact" type="submit" value="Gửi" />
        </form>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62708.34551382464!2d106.5746431590627!3d10.790498463579508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529e468a1ed0f%3A0x52986c0828b0f8be!2zQ-G7rWEgSMOgbmcgVHLDoWkgQ8OieSBOaOG6rXAgS2jhuql1IC0gVEFJUk1BUlQ!5e0!3m2!1sen!2s!4v1670151520823!5m2!1sen!2s"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
