<div class="pdp">
  <div class="row">
    <div class="col-6">
      <img class="img-pdp" src="../../../assets/img/nho.jpg" />
    </div>
    <div class="col-6">
      <div class="info-pdp">
        <h1 class="name-product">Nho Mẫu Đơn Shine Muscat Hàn Quốc</h1>
        <h2 class="price-product">1,400,000 VND</h2>
        <ul class="info-product">
          <li>
            Quả to, tròn, vỏ màu xanh sữa, vị rất ngọt, không chát, không hạt và
            có hương thơm đặc trưng
          </li>
          <li>Hương vị béo ngậy đọng lại ở cuống họng sau khi ăn</li>
          <li>
            Cung cấp nhiều chất chống oxi hóa rất tốt cho tim mạch, huyết áp
            cao, tốt cho mắt, não và trí nhớ
          </li>
          <li>Thích hợp để ăn và để biếu rất sang trọng</li>
          <li>100% nói không với chất bảo quản & trái cây Trung Quốc</li>
          <li>Đổi trả sản phẩm trong vòng 24h</li>
        </ul>
        <div class="col-lg-2" style="padding: 0;">
          <div class="input-group">
            <span class="input-group-btn">
              <button
                type="button"
                class="quantity-left-minus btn btn-danger btn-number"
                data-type="minus"
                data-field=""
              >
                <span class="glyphicon glyphicon-minus"></span>
              </button>
            </span>
            <input
              type="text"
              id="quantity"
              name="quantity"
              class="form-control input-number"
              value="2"
              min="1"
              max="100"
            />
            <span class="input-group-btn">
              <button
                type="button"
                class="quantity-right-plus btn btn-success btn-number"
                data-type="plus"
                data-field=""
              >
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </span>
          </div>
        </div>
      </div>
      <button class="btn-addtocart">Thêm vào giỏ hàng</button>
    </div>
  </div>
</div>
