.product {
    width: 100%;
    padding: 30px;
}
.product-title {
    font-size:26px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    color:#FFCE00;
}
/*css filter sản phẩm*/
.product-filter label {
    margin-right: 5px;
    font-weight:600;
}

.product-filter select {
    margin-right: 20px;
    min-width:100px;
    border-radius:5px;
    padding:2px;
}

.product-filter input {
    display: inline-block;
    padding:3px 15px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
    color: white;
    width: 80px;
    font-weight:400;
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    font-size: 1rem;
    margin-top: 15px;
    text-align:center;
    border: none;
}

.product-filter input:hover { 
    background-position: 100% 0%;
    cursor: pointer;
}
