<form class="modal-content animate" method="post">
    <h1 class="login-title">Register</h1>
    <div class="container form-container">
      <label for="uname"><b>Username</b></label>
      <input class="input-login" type="text" placeholder="Enter Username" name="uname" required />
  
      <label for="psw"><b>Password</b></label>
      <input class="input-login" type="password" placeholder="Enter Password" name="psw" required />

      <label for="psw"><b>Confirm Password</b></label>
      <input class="input-login" type="password" placeholder="Confirm Password" name="psw" required />
  
      <label>
        <input type="checkbox" checked="checked" name="remember" /> Remember me
      </label>
      <button type="submit" class="btn-login">Register</button>
    </div>
  
    <div class="formlogin-bottm">
      <span class="psw"><a href="/login">Already have an account?</a></span>
    </div>
  </form>
  <div class="bg-register">

  </div>
  
