<app-banner></app-banner> 
<app-products [products] ="items"></app-products>
<div class="service">
    <div class="row">
        <div class="service-item col-3">
            <img class="service-item-img" src="../../../assets/img/service-item1.png">
        </div>
        <div class="service-item col-3">
            <img class="service-item-img" src="../../../assets/img/service-item2.png">
        </div>
        <div class="service-item col-3">
            <img class="service-item-img" src="../../../assets/img/service-item3.png">
        </div>
        <div class="service-item col-3">
            <img class="service-item-img" src="../../../assets/img/service-item4.png">
        </div>
    </div>
</div>

